<div id="custom-content" style="max-width:600px; margin: 20px auto;" class="form-magnific-container">
    <h1>HTML content, loaded via ajax</h1>
    <style>
        #custom-content img {
            max-width: 100%;
            margin-bottom: 10px;
        }

        .form-magnific-container {
            background: #FFF;
            padding: 20px 30px;
            text-align: left;
            max-width: 650px;
            margin: 40px auto;
            position: relative;
        }

    </style>
    <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel
        of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. These
        words are here to provide the reader with a basic impression of how actual text will appear in its final
        presentation.</p>

    <p>This is dummy copy. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense.
        Why, you can't even read it! It is strictly for mock-ups. You may mock it up as strictly as you wish.</p><img
        src="../../img/plugins/modal/modal_ajax_1.jpg"/>
</div>
<div id="window-resizer-tooltip" style="display: block;"><a
        href="http://dimsemenov.com/plugins/magnific-popup/site-assets/ajax/test-ajax.html#" title="Edit settings"
        style="background-image: url(chrome-extension_/kkelicaakdanhinjdeammmilcgefonfh/images/icon_19.html);"></a><span
        class="tooltipTitle">Window size:</span><span id="winWidth" class="tooltipWidth">1920</span>x<span
        id="winHeight" class="tooltipHeight">1040</span><br/><span class="tooltipTitle">Viewport size:</span><span
        id="vpWidth" class="tooltipWidth">1920</span>x<span id="vpHeight" class="tooltipHeight">944</span></div>